.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--bg-color);
    box-shadow: var(--outer-shadow);
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
}

.header-right {
    display: flex;
    align-items: center;
}

/* Menu Navegação */
.header nav ul {
    display: flex;
}

.header nav ul li {
    margin-left: 30px;
}

.header nav ul li a {
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.header nav ul li a:hover {
    color: var(--primary-color);
}

/* Theme Switch (Botão de modo claro/escuro) */
.theme-switch-wrapper {
    margin-right: 20px;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}

.theme-switch input { display: none; }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
    border-radius: 50%;
}

input:checked + .slider { background-color: var(--primary-color); }
input:checked + .slider:before { transform: translateX(26px); }